<div class="main posts-index">
  <div class="container">
    <% @questions.each do |question| %>
      <div class="posts-index-item">
        <h4>カテゴリー</h4>
        <p><%= question.category %></p>
        <br>
        <h4>質問内容</h4>
        <p><%= question.content %></p>
        <br>
        <h4>選択肢</h4>
        <p><%= question.option %></p>
        <br>
      </div>
    <% end %>
  </div>
</div>
