<div class="top-main">
  <div class="top-contents">
    <div class="card border-info rounded-lg question">
      <div class="card-head text-light bg-info question-head">
        <h3>診断終了</h3>
      </div>
      <div class="card-body text-dark border-light bg-light question-contents">
        <h3>おつかれさまでした！</h3>
        <%= link_to "診断結果を見る", {:controller => "results", :action => "index", :category => @category}, :class => "btn btn-outline-info btn-lg" %>
        <%# 20190324 アップデート前 %>
        <%# <%= link_to "診断結果を見る", {:controller => "results", :action => "create", :answers => @answers, :question_ids => @question_ids, :category => @category}, :class => "btn btn-outline-info btn-lg" %>
      </div>
    </div>
  </div>
</div>
