<div class="row">
    <div class="col-md-8">
        <div class="header-img">
            <img src="/header-top.jpg" class="img-fluid">
            <div class="header-text">
                <h1>質問に答えてあなたに一番のアイテムを見つけましょう</h1>
            </div>
            <button type="button" class="btn btn-primary haeder-btn">はじめる</button>
        </div>
        <div class="card">
            <div class="card-contents">
            <h2>サイトの目的</h2>
                <p>人生で一度は「購入して失敗した」という経験はありませんか？<p>
                <p>このサイトでは、そのような ”苦い経験” を皆さんに経験させないために設立されました。</p>
                <p>世の中には数えきれないほどの選択がありますが、きっとあなたにとってベストな選択があるはずです。</p>
                <p>本サイトでは各カテゴリーごとの最新のアイテムからあなたに特化した最適なアイテムを紹介します。</p>
                <p>それでは、あなたにとって最適な選択を探す旅に出かけましょう。</p>
            </div>
        </div>
        <div class="card">
            <div class="card-contents">
            <h2>使い方</h2>
                <p>カテゴリーを選択して、10～20の質問に答えてみてください。</p>
                <p>質問の回答結果に応じて、あなたにとって最適なアイテムを紹介します。</p>
                <p>もし、気になったアイテムがあれば ☑ボタンを押してみてください。</p>
                <p>質問に再回答せず、そのアイテムを閲覧できます。</p>
            </div>
        </div>
        <div class="card">
            <div class="card-contents">
            <h2>仕組み</h2>
                <p>本サイトでは各カテゴリーの最適なアルゴリズムからアイテムを紹介しています。</p>
                <p>機械学習も組み込んでいるため、回答数が多くなるほど、より最適化されていきます。</p>
                <p>☑ボタンも最適化をするための重要な要素であるので、気になったアイテムがあれば、ぜひボタンをクリックしてみてください。</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-contents">
                <h2>最新の記事</h2>
            </div>
        </div>
    </div>
</div>
