<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<% content_for :title do %>
Sirius | 映画
<% end %>

<% content_for :description do %>
あなたの気分に合わせておすすめの映画を紹介します。気になるタグをクリックして、あなたにとって最高の映画を見つけましょう。
<% end %>

<% content_for :background_color do %>
bg-darkgrey text-light
<% end %>

<div id="muteYouTubeVideoPlayer"></div>

<script async src="https://www.youtube.com/iframe_api"></script>
<script>
 function onYouTubeIframeAPIReady() {
  var player;
  player = new YT.Player('muteYouTubeVideoPlayer', {
    videoId: 'UByojZ9eMkw', // YouTube Video ID
    width: 560,               // Player width (in px)
    height: 316,              // Player height (in px)
    playerVars: {
      autoplay: 1,        // Auto-play the video on load
      controls: 1,        // Show pause/play buttons in player
      showinfo: 0,        // Hide the video title
      modestbranding: 1,  // Hide the Youtube Logo
      loop: 1,            // Run the video in a loop
      fs: 0,              // Hide the full screen button
      cc_load_policy: 0, // Hide closed captions
      iv_load_policy: 3,  // Hide the Video Annotations
      autohide: 0         // Hide video controls when playing
    },
    events: {
      onReady: function(e) {
        e.target.mute();
      }
    }
  });
 }

 // Written by @labnol
</script>


<div id="newapp">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none mt-3">
                <a class="navbar-brand font-weight-bold " href="#" style="font-size:28px; color:#ba000d;">Sirius</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="Navber">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ml-5">
                        <a class="nav-link" href="#">映画 <span class="sr-only">(現位置)</span></a>
                    </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <h1 class="mb-4">気になる映画を探しましょう</h1>
    <div v-show="isLoading" class="fadeLayer">
        <div class="fadeLayerText loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 ">
            <ul>
            <form class="form-inline my-2 my-lg-0 text-dark">
                <template>
                    <vue-simple-suggest
                    v-model="tag_keyword"
                    :list="defaultTags"
                    :filter-by-query="true">
                    <input type="search" class="form-control mr-sm-2" placeholder="タグを検索..." aria-label="検索...">
                    </vue-simple-suggest>
                </template>
                <p class="btn btn-outline-light ml-3" style="cursor: pointer;" v-on:click="resetDefaultTag()">Reset</p>
            </form>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="movie_tags">
                <template>
                <ul>
                    <transition-group name="flip">
                        <template v-for="tag in defaultTagItemList.tags">
                            <li :key="tag" v-on:click="pushDefaultTag(tag)" >{{ tag }}</li>
                        </template>
                    </transition-group>
                </ul>
                </template>
            </div>
            <div class="pushed_movie_tags">
                <ul>
                    <li v-for="ptag in defaultTagItemList.push" v-on:click="unpushDefaultTag(ptag)" >{{ ptag }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-4 mt-3 mb-5">
        <div class="col-md-12">
        <carousel
              :pagination-color="'#FFFFFF'"
              :pagination-active-color="'#BA000D'"
              :per-page="6.3"
              :loop="true"
              :speed="400"
              :navigation-enabled="true"
              navigation-next-label="<i class='material-icons arrow'>keyboard_arrow_right</i>"
              navigation-prev-label="<i class='material-icons arrow'>keyboard_arrow_left</i>">
              <slide v-for="item in defaultTagItemList.items" v-bind:key="item">
                  <span>
                    <div class="movie-image">
                        <img :key="item" class="img-fluid" v-bind:src="getImage(item)" v-on:click="showDefaultItem(item)">
                    </div>
                  </span>
              </slide>
        </carousel>
        </div>
    </div>
</div>
<div class="container-fluid bg-darkblack">
    <div class="container">
    <div class="row">
        <template>
        <transition name="flip">
        <div class="col-md-12 mt-3" v-if="isShowDefaultItem">
            <button type="button" class="close inline-block" aria-label="Close" v-on:click="pushShowDefaultItem()"><span aria-hidden="true" class="text-light" style="font-size:42px;">&times;</span></button>
            <h2>{{getDefaultItem.title}}</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="youtube-preview">
                        <iframe width="560" height="315" :src="getYoutubeUrl(getDefaultItem.preview)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div v-show="isEmptyText(getDefaultItem.article)">
                        <h4 class="text-red mt-3">見どころ</h4>
                        <div class="movie_outline">
                        <p class="text-gray">{{getDefaultItem.article}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="text-red">あらすじ</h4>
                    <div class="movie_outline">
                    <p class="text-gray">{{getDefaultItem.outline}}</p>
                    </div>
                    <p class="text-gray"><strong>{{getDefaultItem.year}}年</strong></p>
                    <p class="text-gray"><strong>監督：</strong>{{getDefaultItem.director}}</p>
                    <p class="text-gray"><strong>出演：</strong>{{getDefaultItem.performer}}</p>

                    <h4 class="mt-3 text-red">共感するタグに&nbsp;<span >いいね</span></h4>
                    <div class="movie_tags">
                        <template>
                        <transition-group name="flip">
                        <template v-for="itag in getItemTags(getDefaultItem.id)">
                            <p :key="itag.tag" class="font-weight-bold" v-on:click="pushThumbs(itag)" v-show="!itag.push" >
                                {{itag.tag}}&nbsp;&nbsp;
                                <i class="far fa-thumbs-up hover-thumbs"></i>
                                &nbsp;{{itag.value}}&nbsp;
                            </p>
                        </template>
                        </transition-group>
                        </template>
                    </div>
                    <div class="pushed_movie_tags">
                        <template>
                        <transition-group name="flip">
                        <template v-for="itag in getItemTags(getDefaultItem.id)">
                            <p :key="itag.tag" class="font-weight-bold" v-on:click="pushThumbs(itag)" v-show="itag.push" >
                                {{itag.tag}}&nbsp;&nbsp;
                                <i v-show="itag.push" class="fas fa-thumbs-up"></i>
                                &nbsp;{{itag.value}}&nbsp;
                            </p>
                        </template>
                        </transition-group>
                        </template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h2 class="mt-3">リンク</h2>
                    <div class="row" v-show="isEmptyText(getDefaultItem.filmarks)">
                        <div class="col-md-12 mt-1">
                            <ul>
                                <li class="text-gray" v-show="isEmptyText(getDefaultItem.netflix)">
                                    <a :href="getDefaultItem.netflix" target="_blank" class="text-gray link-white">Netflixで見る</a>
                                </li>
                                <li class="text-gray" v-show="isEmptyText(getDefaultItem.hulu)">
                                    <a :href="getDefaultItem.hulu" target="_blank" class="text-gray link-white">Huluで見る</a>
                                </li>
                                <li class="text-gray" v-show="isEmptyText(getDefaultItem.youtube)">
                                    <a :href="getDefaultItem.youtube" target="_blank" class="text-gray link-white">Youtubeで見る</a>
                                </li>
                                <li class="text-gray" v-show="isEmptyText(getDefaultItem.amazonprime)">
                                    <a :href="getDefaultItem.amazonprime" target="_blank"  class="text-gray link-white">Amazon Primeで見る</a>
                                </li>
                                <li class="text-gray" v-show="isEmptyText(getDefaultItem.filmarks)">
                                    <a :href="getDefaultItem.filmarks" target="_blank" class="text-gray link-white">Filmarksのレビューを見る</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-show="isEmptyText(getDefaultItem.movie)">
                <div class="col-md-12 mt-3 mb-3">
                    <h2 class="mt-3">関連動画</h2>
                    <div class="youtube-preview">
                        <iframe width="560" height="315" :src="getYoutubeUrl(getDefaultItem.movie)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3 mb-3">
                    <h2>関連タグで検索</h2>
                    <div class="movie_related_tags">
                        <ul>
                            <li v-for="itag in getItemTags(getDefaultItem.id)" v-on:click="defaultSearchAllTagItemList(itag.tag)">{{ itag.tag }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </transition>
        </template>
    </div>
    </div>
</div>
<template>
<transition-group name="flip">
<template v-for="tagItem in allTagItemList">
<div :key="tagItem.id">
    <div  class="container">
        <h2 class=" mt-5 mb-2">{{getTag(tagItem.tag)}}</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="movie_tags">
                    <template>
                    <ul>
                    <transition-group name="flip">
                        <template v-for="ctag in tagItem.tags">
                            <%# <li v-for="ctag in tagItem.tags"  v-on:click="pushAllTagItem(tagItem.id,ctag)">{{ ctag }}</li> %>
                            <li :key="ctag" v-on:click="pushAllTagItem(tagItem.id,ctag)">{{ ctag }}</li>
                        </template>
                    </transition-group >
                    </ul>
                    </template>
                </div>
                <div class="pushed_movie_tags">
                    <ul>
                        <li v-for="ptag in tagItem.push" v-on:click="unpushAllTagItem(tagItem.id,ptag)">{{ ptag }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row ml-4 mr-4 mt-3 mb-5">
        <!-- <div class="row"> -->
            <div class="col-md-12">
            <carousel
                :pagination-color="'#FFFFFF'"
                :pagination-active-color="'#BA000D'"
                :per-page="6"
                :loop="true"
                :speed="400"
                :navigation-enabled="true"
                navigation-next-label="<i class='material-icons arrow'>keyboard_arrow_right</i>"
                navigation-prev-label="<i class='material-icons arrow'>keyboard_arrow_left</i>">
                <slide v-for="item in tagItem.items" v-bind:key="item">
                    <span>
                        <div class="movie-image">
                            <img :key="item" class="img-fluid" v-bind:src="getImage(item)" v-on:click="showItem(tagItem.id,item)">
                        </div>
                    </span>
                </slide>
            </carousel>
            </div>
            <%# <div class="col-md-2" v-for="item in tagItem.items">
                <div class="movie-image">
                    <img class="img-fluid" v-bind:src="getImage(item)" v-on:click="showItem(tagItem.id,item)">
                </div>
            </div> %>
        </div>
    </div>
    <div class="container-fluid bg-darkblack mt-3"  v-if="tagItem.show">
        <div class="container">
        <div class="row">
            <template>
            <transition name="flip">
            <div class="col-md-12 mt-3">
                <button type="button" class="close inline-block" aria-label="Close" v-on:click="pushShowItem(tagItem)"><span aria-hidden="true" class="text-light" style="font-size:42px;">&times;</span></button>
                <h2>{{itemInfo.title}}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="youtube-preview">
                            <iframe width="560" height="315" :src="getYoutubeUrl(itemInfo.preview) + '?autoplay=1&mute=1'" frameborder="0"  allowfullscreen></iframe>
                            <!-- <iframe width="560" height="315" :src="getYoutubeUrl(itemInfo.preview) + '?autoplay=1&mute=1'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen volume="0"></iframe> -->
                        </div>
                        <div v-show="isEmptyText(itemInfo.article)">
                            <h4 class="text-red mt-3">見どころ</h4>
                            <div class="movie_outline">
                            <p class="text-gray">{{itemInfo.article}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-red">あらすじ</h4>
                        <div class="movie_outline">
                        <p class="text-gray">{{itemInfo.outline}}</p>
                        </div>
                        <p class="text-gray"><strong>{{itemInfo.year}}年</strong></p>
                        <p class="text-gray"><strong>監督：</strong>{{itemInfo.director}}</p>
                        <p class="text-gray"><strong>出演：</strong>{{itemInfo.performer}}</p>

                        <h4 class="mt-3 text-red">共感するタグに&nbsp;<span >いいね</span></h4>
                        <div class="movie_tags">
                            <template>
                            <transition-group name="flip">
                            <template v-for="itag in getItemTags(itemInfo.id)">
                                <p :key="itag.tag" class="font-weight-bold" v-on:click="pushThumbs(itag)" v-show="!itag.push" >
                                    {{itag.tag}}&nbsp;&nbsp;
                                    <i class="far fa-thumbs-up hover-thumbs"></i>
                                    &nbsp;{{itag.value}}&nbsp;
                                </p>
                            </template>
                            </transition-group>
                            </template>
                        </div>
                        <div class="pushed_movie_tags">
                            <template>
                            <transition-group name="flip">
                            <template v-for="itag in getItemTags(itemInfo.id)">
                                <p :key="itag.tag" class="font-weight-bold" v-on:click="pushThumbs(itag)" v-show="itag.push" >
                                    {{itag.tag}}&nbsp;&nbsp;
                                    <i v-show="itag.push" class="fas fa-thumbs-up"></i>
                                    &nbsp;{{itag.value}}&nbsp;
                                </p>
                            </template>
                            </transition-group>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <h2 class="mt-3">リンク</h2>
                        <div class="row" v-show="isEmptyText(itemInfo.filmarks)">
                            <div class="col-md-12 mt-1 mb-1">
                                <ul>
                                    <li class="text-gray">
                                        <a :href="itemInfo.filmarks" target="_blank" class="text-gray link-white">Filmarksのレビューを見る</a>
                                    </li>
                                    <li class="text-gray" v-show="isEmptyText(getDefaultItem.hulu)">
                                        <a :href="getDefaultItem.hulu" target="_blank" class="text-gray link-white">Huluで見る</a>
                                    </li>
                                    <li class="text-gray" v-show="isEmptyText(getDefaultItem.youtube)">
                                        <a :href="getDefaultItem.youtube" target="_blank" class="text-gray link-white">Youtubeで見る</a>
                                    </li>
                                    <li class="text-gray" v-show="isEmptyText(getDefaultItem.amazonprime)">
                                        <a :href="getDefaultItem.amazonprime" target="_blank"  class="text-gray link-white">Amazon Primeで見る</a>
                                    </li>
                                    <li class="text-gray" v-show="isEmptyText(getDefaultItem.filmarks)">
                                        <a :href="getDefaultItem.filmarks" target="_blank" class="text-gray link-white">Filmarksのレビューを見る</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="isEmptyText(itemInfo.movie)">
                    <div class="col-md-12 mt-3 mb-3">
                        <h2 class="mt-3">関連動画</h2>
                        <div class="youtube-preview">
                            <iframe width="560" height="315" :src="getYoutubeUrl(itemInfo.movie)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3">
                        <h2>関連タグで検索</h2>
                        <div class="movie_related_tags">
                            <ul>
                                <li v-for="stag in getItemTags(itemInfo.id)" v-on:click="searchAllTagItem(tagItem.id, stag.tag)">{{ stag.tag }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </transition>
            </template>
        </div>
        </div>
    </div>
</div>
</template>
</transition-group >
</template>

</div>

<%= javascript_pack_tag 'movie' %>
