

<% content_for :title do %>
Sirius | 映画
<% end %>

<% content_for :description do %>
あなたの気分に合わせておすすめの映画を紹介します。気になるタグをクリックして、あなたにとって最高の映画を見つけましょう。
<% end %>

<% content_for :background_color do %>
bg-darkgrey text-light
<% end %>

<div id="newapp">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none mt-3">
                <a class="navbar-brand font-weight-bold " href="#" style="font-size:28px; color:#ba000d;">Sirius</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="Navber">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ml-5">
                        <a class="nav-link" href="#">映画 <span class="sr-only">(現位置)</span></a>
                    </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <h1 class="mb-4">気になる映画を探しましょう</h1>
    <div v-show="isLoading" class="fadeLayer">
        <div class="fadeLayerText loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 ">
            <ul>
            <form class="form-inline my-2 my-lg-0 text-dark">
                <template>
                    <vue-simple-suggest
                    v-model="tag_keyword"
                    :list="defaultTags"
                    :filter-by-query="true">
                    <input type="search" class="form-control mr-sm-2" placeholder="タグを検索..." aria-label="検索...">
                    </vue-simple-suggest>
                </template>
                <button class="btn btn-outline-light ml-3" v-on:click="resetDefaultTag()">Reset</button>
            </form>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="movie_tags">
                <ul>
                    <li  v-for="tag in defaultTagItemList.tags" v-on:click="pushDefaultTag(tag)" >{{ tag }}</li>
                </ul>
            </div>
            <div class="pushed_movie_tags">
                <ul>
                    <li v-for="ptag in defaultTagItemList.push" v-on:click="unpushDefaultTag(ptag)" >{{ ptag }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-md-2" v-for="item in defaultTagItemList.items">
            <div class="movie-image">
                <img class="img-fluid" v-bind:src="getImage(item)" >
            </div>
        </div>
    </div>


    <div  v-for="tagItem in allTagItemList">
        <h2 class=" mt-5 mb-2">{{getTag(tagItem.tag)}}</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="movie_tags">
                    <ul>
                        <li v-for="ctag in tagItem.tags"  v-on:click="pushAllTagItem(tagItem.id,ctag)">{{ ctag }}</li>
                    </ul>
                </div>
                <div class="pushed_movie_tags">
                    <ul>
                        <li v-for="ptag in tagItem.push" v-on:click="unpushAllTagItem(tagItem.id,ptag)">{{ ptag }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" v-for="item in tagItem.items">
                <div class="movie-image">
                    <img class="img-fluid" v-bind:src="getImage(item)">
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>
</div>

<%= javascript_pack_tag 'movie' %>
