<% content_for :title do %>
Sirius | 映画
<% end %>

<% content_for :description do %>
あなたの気分に合わせておすすめの映画を紹介します。気になるタグをクリックして、あなたにとって最高の映画を見つけましょう。
<% end %>

<% content_for :background_color do %>
bg-darkgrey text-light
<% end %>

<div class="container">
    <div class="col-md-12">
        <p>内容<p>
    </div>
</div>
