

<% content_for :title do %>
Sirius | 映画
<% end %>

<% content_for :description do %>
あなたの気分に合わせておすすめの映画を紹介します。気になるタグをクリックして、あなたにとって最高の映画を見つけましょう。
<% end %>

<% content_for :background_color do %>
bg-darkgrey text-light
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="movie_tags mt-5">
                <ul>
                    <% @tags.each do |tag| %>
                        <li><a href="#"><%= tag.name %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <% @movies.each do |movie| %>
        <div class="col-md-3">
            <img class="img-fluid" src="<%= movie.image%>">
        </div>
        <% end %>
    </div>
</div>

<%= javascript_pack_tag 'test' %>
