<div class="main top-main">
  <div class="top-contents">
    <h2>Leading the best item for you</h2>
    <p>あなたにとって一番ベストな選択を</p>
    <a class="btn btn-info btn-lg" href="/category" role="button">Get Started</a>
  </div>
</div>
