<div class="main top-main">
  <div class="top-contents">
    <h2>Leading the best item for you</h2>
    <p>あなたにとって一番ベストな選択を</p>
    <%# <a class="btn btn-info btn-lg" href="/category" role="button">Get Started</a> %>
    <div class="container category">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 category-item">
          <div class="icon-circle">
            <i class="fas fa-laptop fa-stack-1x"></i>
          </div>
          <h4>パソコンの診断</h4>
          <p>パソコン診断では、あなたの使用用途に合わせて最適なパソコンを提案します。</p>
          <%= link_to "パソコンの診断をはじめる", {:controller => "questions", :action => "index"}, :class => "btn btn-outline-light btn-block" %>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="icon-circle">
            <i class="fas fa-mobile-alt fa-stack-1x"></i>
          </div>
          <h4>スマホの診断</h4>
          <p>スマホ診断では、あなたの使用用途に合わせて最適なスマホを提案します。</p>
          <%= link_to "スマホの診断をはじめる", {:controller => "home", :action => "category"}, :class => "btn btn-outline-light btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
