<h1>Results#index</h1>
<p>Find me in app/views/results/index.html.erb</p>
<p>This result for User-ID: <%= @user_id %></p>

<p>Question <%= @arr_question %> </p>
<p>Answer <%= @arr_answer %></p>

<p>UserType <%= @result_pattern %></p>
