<div class="top-main">
  <div class="top-contents">
    <div class="card border-info rounded-lg question">
      <div class="card-head text-light bg-info question-head">
        <h3>診断結果</h3>
      </div>
      <div class="card-body text-dark border-light bg-light question-contents">
        <h3>おつかれさまでした！</h3>
        <p>result[first].user_id = <%= @result.user_id %></p>
        <p>result[first].question_id = <%= @result.question_id %></p>
        <p>result[first].answer_id = <%= @result.answer %></p>
      </div>
    </div>
  </div>
</div>
