// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* top ================================ */

.top{
  color: white;
  width: 100vw;
  height: 100vh;
  background-image: url("/top.jpg");
}

.navbar-inner {
  background-color:transparent;
}

.search {
  background-color: white;
  width: 450px;
  height: 350px;
  margin-left: 200px;
  margin-top: 70px;
  border-radius: 5px 5px 5px 5px;

  @media screen and (max-width: 768px) {
    margin-left: 100px;
  }

  @media screen and (max-width: 544px) {
    margin-left: 3%;
    width: 90%;
    height: 350px;
  }
}

.search-contents{
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.search h1{
  font-size: 32px;
  font-weight: bold;
  padding-bottom:30px;
  @media screen and (max-width: 544px) {
    font-size: 28px;
  }
}

.search p{
  font-size: 16px;
}

.form-group{
  margin-bottom: 40px;
}

.form-group .form-control{
  width:80%;
}

.form-group .form-label{
  font-size: 14px;
  font-weight: bold;
}

.form-group .form-button{
  float: right;
}

.text-on-image-center{
  position: absolute;
  color:white;
  font-weight: bold;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.movie_tags ul li,.pushed_movie_tags ul li{
  display: inline-block;
  max-width: 200px;
  height: 28px;
  line-height: 28px;
  margin: 0 .3em .3em 0;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  user-select:none;
  font-weight: bold;
}

.movie_tags ul li:hover, .pushed_movie_tags ul li:hover{
  // background-color: #4285F4;
  background-color: #6ec6ff;
  // border: 1px solid #4285F4;
  border: 1px solid #6ec6ff;
  color: #fff;
}


.movie_tags ul li:active, .pushed_movie_tags ul li{
  background-color: #4285F4;
  border: 1px solid #4285F4;
  color: #fff;
}

.movie-image {
  cursor: pointer;
  overflow: hidden;
}

.movie-image img{
  -moz-transition: -moz-transform 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  transition: transform 0.2s linear;
}

.movie-image img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
