@import "bootstrap";
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome";
@import "plugins/char_counter.min.css";
@import "plugins/code_view.min.css";
@import "plugins/colors.min.css";
@import "plugins/emoticons.min.css";
@import "plugins/file.min.css";
@import "plugins/fullscreen.min.css";
@import "plugins/image_manager.min.css";
@import "plugins/image.min.css";
@import "plugins/line_breaker.min.css";
@import "plugins/quick_insert.min.css";
@import "plugins/table.min.css";
@import "plugins/video.min.css";
@import "./main/admins";
@import "./main/articles";
@import "./main/home";
@import "./main/items";
@import "./main/options";
@import "./main/questions";
@import "./main/results";
@import "./main/scaffolds";
@import "./main/slick-theme";
@import "./main/slick";
@import "./select2/select2.min";

body{
   font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';

}

h1{
  font-weight: bold;
  font-size: 28px;
  padding: 0.5em 0 0 0;
}

h2{
  font-weight: bold;
  font-size:24px;
  padding: 0.5em 0.5em;
  margin: 0.5em 0 0.5em 0;
  background: transparent;
  border-left: solid 5px #ba000d;
}

h3{
  font-weight: bold;
  font-size:22px;
  padding: 0.5em 0 0.5em 0;
}

h4{
  font-weight: bold;
  font-size:20px;
  padding: 0.5em 0 0.5em 0;
}

h5{
  text-align: center;
  color: white;
  font-size:1em;
  width: 8em;
  padding: 0.5em 1em;
  background: #4285F4;
}

h6{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:1em;
  width: 19.95em;
  padding: 1em 1em;
  /* background: #f9a66b; */
  background: #6ec6ff;;
}

p {
  margin:0 0 0.1em 0;
}

.row-1{
  margin-bottom: 1em;
}

.col-0{
  padding: 0;
}

.bg-lightblue{
  background-color: #6ec6ff;
}

.bg-darkblue{
  background-color: #0069c0;
}

.bg-blue{
  background-color: #4285F4;
}

.bg-white{
  background-color: white;
}

.bg-orange{
  background-color: #ff8833;
}

.bg-darkorange{
  background-color: #c66900;
}

.bg-darkgrey{
  background-color: #212121
}

.bg-none{
  background-color: rgba(255,255,255,0);
}

.text-turquoise{
  color:#009DBF;
}

.bottom-50px{
  padding-bottom: 100px;
}

.bottom-100px{
  padding-bottom: 100px;
}

.bottom-150px{
  padding-bottom: 150px;
}

.bottom-200px{
  padding-bottom: 200px;
}

.gray-box{
    float: left;
    margin-right: 1em;
    width:100px;
    height:30px;
    border: solid RGBA(100, 100, 100, 1);
    background-color: RGBA(100, 100, 100, 0.2);
}

.orange-box{
    float: left;
    margin-right: 1em;
    width:100px;
    height:30px;
    border: solid RGBA(255, 204, 102, 1);
    background-color: RGBA(255, 204, 102, 0.4);
}

.blue-box{
    float: left;
    margin-right: 1em;
    width:100px;
    height:30px;
    border: solid RGBA(66, 133, 244, 1);
    background-color: RGBA(66, 133, 244, 0.4);
}

a .text-d-none{
  text-decoration: none;
}

.article-text-overflow{
  font-size: 0.75em;
  overflow: hidden;
  width: 100%;
  height:6em;

  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

@media screen and (max-width: 992px) {
  .article-text-overflow{
    font-size: 1em;
    height: 10.5em;
    padding: 1em 0em;
  }
  .article-text-overflow strong{
    font-size: 1.5em;
  }
}

.footer-logo{
    text-indent: 1em;
    font-size: 32px;
    padding-top:50px;
    padding-bottom: 20px;
}

.footer-contents{
    text-indent: 1em;
    padding-top: 80px;
    padding-bottom: 20px;
}
