/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
   background-color: #f7f7f7;
}

h2{
  font-weight: bold;
  font-size:24px;
  padding: 0.5em 0.5em;
  margin-top:3em;
  margin-bottom:1em;
  background: transparent;
  border-left: solid 5px #2196f3;
}

h3{
  font-weight: bold;
  font-size:20px;
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f0f0f0;/*背景色*/
  border-left: solid 5px #6ec6ff;/*左線*/
  margin-bottom:1em;
  margin-top:2em;
}

h5{
  text-align: center;
  color: white;
  font-size:1em;
  width: 8em;
  padding: 0.5em 1em;
  background: #2196f3;
}

h6{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:1em;
  width: 19.95em;
  padding: 1em 1em;
  /* background: #f9a66b; */
  background: #6ec6ff;;
}



footer{
    /* background-color: #6ec6ff; */
    margin-top:100px;
}
.footer-logo{
    text-indent: 1em;
    font-size: 32px;
    padding-top:50px;
    padding-bottom: 20px;
}

.footer-contents{
    text-indent: 1em;
    padding-top: 80px;
    padding-bottom: 20px;
}
