/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require froala_editor.min.css
*= require froala_style.min.css
*= require font-awesome
*= require plugins/char_counter.min.css
*= require plugins/code_view.min.css
*= require plugins/colors.min.css
*= require plugins/emoticons.min.css
*= require plugins/file.min.css
*= require plugins/fullscreen.min.css
*= require plugins/image_manager.min.css
*= require plugins/image.min.css
*= require plugins/line_breaker.min.css
*= require plugins/quick_insert.min.css
*= require plugins/table.min.css
*= require plugins/video.min.css
*= require_tree ./main
*= require_self
*/


body {
   font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
   background-color: #f7f7f7;
}

h1{
  font-weight: bold;
  padding: 0.5em 0 0.5em 0;
}

h2{
  font-weight: bold;
  font-size:24px;
  padding: 0.5em 0.5em;
  margin: 1em 0 1em 0;
  background: transparent;
  border-left: solid 5px #4285F4;
}

h3{
  font-weight: bold;
  font-size:22px;
  padding: 0.5em 0 0.5em 0;
}

h4{
  font-weight: bold;
  font-size:20px;
  padding: 0.5em 0 0.5em 0;
}

h5{
  text-align: center;
  color: white;
  font-size:1em;
  width: 8em;
  padding: 0.5em 1em;
  background: #4285F4;
}

h6{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:1em;
  width: 19.95em;
  padding: 1em 1em;
  /* background: #f9a66b; */
  background: #6ec6ff;;
}

p {
  margin:0 0 0.1em 0;
}

.row-1{
  margin-bottom: 1em;
}

.col-0{
  padding: 0;
}

.bg-lightblue{
  background-color: #6ec6ff;
}

.bg-darkblue{
  background-color: #0069c0;
}

.bg-blue{
  background-color: #4285F4;
}

.bg-white{
  background-color: white;
}

.bg-orange{
  background-color: #ff8833;
}

.bg-darkorange{
  background-color: #c66900;
}

.bottom-50px{
  padding-bottom: 100px;
}

.bottom-100px{
  padding-bottom: 100px;
}

.bottom-150px{
  padding-bottom: 150px;
}

.bottom-200px{
  padding-bottom: 200px;
}

.gray-box{
    float: left;
    margin-right: 1em;
    width:100px;
    height:30px;
    border: solid RGBA(100, 100, 100, 1);
    background-color: RGBA(100, 100, 100, 0.2);
}

.orange-box{
    float: left;
    margin-right: 1em;
    width:100px;
    height:30px;
    border: solid RGBA(255, 136, 51, 1);
    background-color: RGBA(255, 136, 51, 0.4);
}

.blue-box{
    float: left;
    margin-right: 1em;
    width:100px;
    height:30px;
    border: solid RGBA(66, 133, 244, 1);
    background-color: RGBA(66, 133, 244, 0.4);
}

.article-text-overflow{
  font-size: 0.75em;
  overflow: hidden;
  width: 100%;
  height:6em;

  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

@media screen and (max-width: 992px) {
  .article-text-overflow{
    font-size: 1em;
    height: 10.5em;
    padding: 1em 0em;
  }
  .article-text-overflow strong{
    font-size: 1.5em;
  }
}

.footer-logo{
    text-indent: 1em;
    font-size: 32px;
    padding-top:50px;
    padding-bottom: 20px;
}

.footer-contents{
    text-indent: 1em;
    padding-top: 80px;
    padding-bottom: 20px;
}
